/* ----- INITIALIZAION ----- */

html,
body {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: normal;
    color: rgb(51, 51, 51);
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
p {
    margin: 0;
}

.btn {
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

.header {
    flex: 0 0 auto;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}


/* ----- H E A D E R ----- */



.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 80px;
    box-sizing: border-box;
    margin: 0 auto;
}

.row {
    display: flex;
}

.header__top {
    // padding-top: 24px;
    // padding-bottom: 4px;

    &-emailIcon {
        margin-right: 8px;
    }
    &-whatsAppIcon,
    &-telegramIcon {
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 12px;
        margin-top: 3px;
        & img {
            max-width: 100%;
        }
    }
    &-whatsAppLink,
    &-telegramLink {
        display: flex;
        align-items: center;
    }
    &-whatsAppLink {
        margin-bottom: 11px;
    }
    &-phoneIcon {
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
        & img {
            max-width: 100%;
        }
    }
    &-phoneLink {
        display: flex;
        align-items: center;
        padding-top: 17px;

    }
    &-row {
        padding-top: 24px;
        padding-bottom: 16px;
    }
    &-list {
        width: 79%;
        justify-content: space-between;
    }
    &-listItem:first-child {
        padding-right: 67px;
    }
    &-listItem:last-child {
        padding-right: 30px;
    }
    &-logo {
        margin-left: auto;
    }
    &-emailAdress {
        color: rgb(5, 135, 214);
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0%;
    }
    &-whatsAppNumber,
    &-telegramNumber {
        border-bottom: 1px dashed rgb(51, 51, 51);
        box-sizing: border-box;
        color: rgb(51, 51, 51); 
        font-size: 24px;
        font-weight: 500;
        line-height: 110%;
    }
    &-phoneNumber {
        color: rgb(51, 51, 51);
        font-size: 42px;
        font-weight: 500;
        line-height: 41px;
        border-bottom: 1px dashed rgb(51, 51, 51);
        box-sizing: border-box;
    }
    
}

.logo {
    display: flex;
    align-items: center;
    &__image {
        width: 66px;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        & img {
            min-width: 100%;
        }
    }
    &__desc {
        max-width: 66px;
        width: 100%;
        font-size: 21px;
        font-weight: 600;
        line-height: 90%;
        text-transform: uppercase;
        margin-top: 32px;
        text-align: end;
    }
}

.callBack {
    width: 217px;
    height: 48px;
    background: #017AC3;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: 0%;
    border-radius: 8px;
    background: linear-gradient(-39.89deg, rgb(1, 122, 195) -45.517%,rgb(101, 207, 240) 114.502%),rgb(1, 122, 195);
    margin-bottom: 8px;
    color: rgb(255, 255, 255);
    transition: .5s;
}

.callBack:hover {
    background: rgb(0, 68, 149);
}

.header__menu {
    background: #004495;
    &-list {
        justify-content: space-between;
        padding: 14px 35px 24px 28px;
        & a {
            color: #fff;
            font-size: 22px;
        }
    }
    &-link {
        color: rgb(255, 255, 255);
        font-size: 22px;
        font-weight: 700;
        line-height: 26px;
    }
}




/* ----- M A I N ----- */

.hero {
    &__offer {
        position: relative;
    }
    &__image {
        height: 472px;
        & img {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &__offer::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(180.00deg, rgba(131, 128, 128, 0) 2.86%,rgba(0, 0, 0, 0.7) 107.945%),rgb(194, 194, 194, 0.3);     
        z-index: 1;
    }
    &__title {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 500px;
        color: rgb(255, 255, 255);
        font-size: 64px;
        font-weight: 700;
        line-height: 120%;
        text-align: center;
        z-index: 2;
    }
}
.service {
    padding: 64px 0 40px 0;
    &__row {
        margin: 0 -10px;
    }
    &__item {
        width: 17%;
        padding: 0 10px;
        &-container {
            padding-bottom: 3px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-image {
            height: 138px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 12px;
            & img {
                max-width: 100%;
            }
        }
        &-desc {
            color: rgb(5, 135, 214);
            font-size: 24px;
            font-weight: 700;
            line-height: 120%;
            text-align: center;
            max-width: 120px;
        }
    }

}

.tours {
    padding: 40px 0;
    &__row {
        margin: 0 -10px;
        margin-bottom: 24px;
    }
    &__title {
        margin: 0 auto;
        color: rgb(5, 135, 214);
        font-size: 48px;
        font-weight: 700;
        line-height: 140%;
        text-transform: uppercase;
        border-bottom: 1px dashed;
        max-width: 300px;
        margin-bottom: 40px;
    }
    &__image {
        position: relative;
        height: 440px;
        border-radius: 10px;
        &-container {
            width: 50%;
            padding: 0 10px;
        }
        & img {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
        }
        &:before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            border-radius: 10px;
            background: linear-gradient(180.00deg, rgba(131, 128, 128, 0) 2.86%,rgba(0, 0, 0, 0.7) 107.945%),rgb(194, 194, 194, 0.2);
        }
        &-desc {
            position: absolute;
            left: 244px;
            top: 240px;
            z-index: 2;
        }
        &-destination {
            color: rgb(255, 255, 255);
            font-size: 20px;
            font-weight: 400;
            line-height: 160%;
            text-align: right;
        }
        &-name {
            color: rgb(255, 255, 255);
            font-size: 32px;
            font-weight: 700;
            line-height: 160%;
            text-align: right;
        }
        &-property {
            color: rgb(255, 255, 255);
            font-size: 36px;
            font-weight: 400;
            line-height: 160%;
            text-align: right;
        }
    }

    &__slide {
        position: relative;
        height: 288px;
        border-radius: 10px;
        &-container {
        
            padding: 0 10px;
        }
        & img {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
        }
        &:before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            border-radius: 10px;
            background: linear-gradient(180.00deg, rgba(131, 128, 128, 0) 2.86%,rgba(0, 0, 0, 0.7) 107.945%),rgb(194, 194, 194, 0.2);
        }
        &-desc {
            position: absolute;
            left: 88px;
            top: 112px;
            z-index: 2;
        }
        &-destination {
            color: rgb(255, 255, 255);
            font-size: 20px;
            font-weight: 400;
            line-height: 160%;
            text-align: right;
        }
        &-name {
            color: rgb(255, 255, 255);
            font-size: 32px;
            font-weight: 700;
            line-height: 160%;
            text-align: right;
        }
        &-property {
            color: rgb(255, 255, 255);
            font-size: 36px;
            font-weight: 400;
            line-height: 160%;
            text-align: right;
        }
    }
    
}


.swiper {
  width: calc(100% + 20px);
  height: 100%;
  margin-right: -10px;
}

.swiper-slide {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 760px) {
  .swiper-button-next {
    right: 20px;
    transform: rotate(90deg);
  }

  .swiper-button-prev {
    left: 20px;
    transform: rotate(90deg);
  }
}

.swiper-button-next,
.swiper-button-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: 0px 0px 5.73px 0px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
    &:after {
        display: none;
    }
    & img {
        max-width: 100%;
    }
}

.swiper-button-next {
    margin-left: -24px;
}
.swiper-button-prev {
    margin-right: -24px; 
}




.hotels {
    padding: 40px 0;
    &__row {
        margin: 0 -10px;
        margin-bottom: 24px;
    }
    &__title {
        margin: 0 auto;
        color: rgb(5, 135, 214);
        font-size: 48px;
        font-weight: 700;
        line-height: 140%;
        text-transform: uppercase;
        border-bottom: 1px dashed;
        max-width: 330px;
        margin-bottom: 40px;
    }
    &__image {
        position: relative;
        height: 440px;
        border-radius: 10px;
        &-container {
            width: 50%;
            padding: 0 10px;
        }
        & img {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
        }
        &:before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            border-radius: 10px;
            background: linear-gradient(180.00deg, rgba(131, 128, 128, 0) 2.86%,rgba(0, 0, 0, 0.7) 107.945%),rgb(194, 194, 194, 0.2);
        }
        &-desc {
            position: absolute;
            left: 244px;
            top: 240px;
            z-index: 2;
        }
        &-destination {
            color: rgb(255, 255, 255);
            font-size: 20px;
            font-weight: 400;
            line-height: 160%;
            text-align: right;
        }
        &-name {
            color: rgb(255, 255, 255);
            font-size: 32px;
            font-weight: 700;
            line-height: 160%;
            text-align: right;
        }
        &-property {
            color: rgb(255, 255, 255);
            font-size: 36px;
            font-weight: 400;
            line-height: 160%;
            text-align: right;
        }
    }

    &__slide {
        position: relative;
        height: 416px;
        border-radius: 10px;
        

        &-container {
        
            padding: 0 10px;
        }
        & img {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
            
        }
        &:before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            border-radius: 10px;
            background: linear-gradient(180.00deg, rgba(131, 128, 128, 0) 2.86%,rgba(0, 0, 0, 0.7) 107.945%),rgb(194, 194, 194, 0.2);
        }
        &-desc {
            position: absolute;
            left: 20px;
            top: 220px;
            z-index: 2;
            width: 90%;
        }
        &-destination {
            color: rgb(255, 255, 255);
            font-size: 20px;
            font-weight: 400;
            line-height: 160%;
            text-align: right;
   
        }
        &-name {
            color: rgb(255, 255, 255);
            font-size: 32px;
            font-weight: 700;
            line-height: 160%;
            text-align: right;
        }
        &-property {
            color: rgb(255, 255, 255);
            font-size: 36px;
            font-weight: 400;
            line-height: 160%;
            text-align: right;
            margin-bottom: 24px;
        }
    }
    &__icons {
        justify-content: space-between;
    }
    &__options {
        &-icon + &-icon {
            margin-right: 12px;
        }
    }
    &__options-icon {
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        & img {
            max-width: 100%;
        }
    }
    &__stars-icon {
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        & img {
            max-width: 100%;
        }
    }

}

.travel {
    padding: 20px 0 15px;
    &__row {
        margin: 0 -10px;
        margin-bottom: 24px;
        justify-content: center;
    }
    &__title {
        margin: 0 auto;
        color: rgb(5, 135, 214);
        font-size: 48px;
        font-weight: 700;
        line-height: 140%;
        text-transform: uppercase;
        border-bottom: 1px dashed;
        max-width: 330px;
        margin-bottom: 40px;
    }
    &__item + &__item {
        margin-right: 80px;
    }
    &__item {
        padding: 0 60px 8px 60px;
        &-image {
            height: 174px;
            margin-bottom: 24px;
            & img {
                display: block;
                height: 100%;
                width: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
        &-desc {
            color: rgb(5, 135, 214);
            font-size: 24px;
            font-weight: 700;
            line-height: 120%;
            text-align: center;
            max-width: 240px;
        }
    }
}

.send {
    padding: 40px 0 20px;
    &__row {
        position: relative;
        overflow: hidden;
        justify-content: space-between;
        padding: 32px 80px 0 98px;
        box-sizing: border-box;
        border: 1px solid rgb(206, 229, 255);
        border-radius: 10px;
        background: rgb(239, 247, 255);
        &::after {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            height: 100%;
            width: 100%;
            z-index: 1;
            filter: blur(200px);
            background: linear-gradient(172.38deg, rgba(221, 238, 255, 0.16) 2.836%,rgba(0, 162, 229, 0.6) 128.751%);
        }
    }
    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 40%;
        z-index: 2;
    }
    &__label {
        font-size: 20px;
        font-weight: 700;
        line-height: 160%;
        text-align: right;
    }
    &__label-input {
        margin-bottom: 24px;
        }
    &__input {
        box-sizing: border-box;
        border: 1px solid rgb(206, 229, 255);
        border-radius: 10px;
        height: 56px;
        background: rgb(255, 255, 255);
        margin-bottom: 24px;
        &::placeholder {
            padding: 15px 20px;
            color: rgb(194, 194, 194);
            font-size: 16px;
            font-weight: 400;
            line-height: 160%;
        }
    }
    &__request {
        height: 80px;
    }
    &__label-checkbox {
        font-size: 16px;
        font-weight: 400;
        line-height: 120%;
        text-align: right;
        margin-bottom: 8px;
    }
    &__checkbox-row {
        flex-direction: row-reverse;
        align-items: start;
    }
    &__checkbox-custom {
        position: relative;
        display: inline-block;
        width: 23px;
        height: 23px;
        border-radius: 3px;
        border: 1px solid rgb(102, 102, 102);
        box-sizing: border-box;
        margin-right: 11px;
    &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: '';
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 4px;
        background: rgb(255, 106, 0);
        background-image: url('../images/checked.svg');
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
        opacity: 0;
        }
    }       
    &__button {
        border-radius: 10px;
        background: rgb(255, 106, 0);
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 700;
        line-height: 160%;
        text-align: center;
    }
    &__desc {
        width: 50%;
    }
    &__desc-title {
        color: rgb(5, 135, 214);
        font-family: Rubik;
        font-size: 48px;
        font-weight: 700;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: right;
        text-transform: uppercase;
        margin-bottom: 16px;
    }
    &__desc-subtitle {
        color: rgb(36, 36, 64);
        font-size: 32px;
        font-weight: 400;
        line-height: 160%;
        text-align: right;
        margin-bottom: 17px;
    }
    &__desc-image {
        position: relative;
        z-index: 3;
        height: 392px;
        & img {
            display: block;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }       
    }
    &__desc-background {
        position: absolute;
        height: 376px;
        top: 176px;
        left: -50px;
        z-index: 2;
    }
}

input[type="checkbox"]:checked + .send__label-input span::before {
    opacity: 1;
}

.activities {
    padding: 40px 0 30px;
    &__row {
        margin: 0 -10px;
        margin-bottom: 24px;
    }
    &__title {
        margin: 0 auto;
        color: rgb(5, 135, 214);
        font-size: 48px;
        font-weight: 700;
        line-height: 140%;
        text-transform: uppercase;
        border-bottom: 1px dashed;
        max-width: 210px;
        margin-bottom: 40px;
    }
    &__image {
        position: relative;
        height: 440px;
        border-radius: 10px;
        &-container {
            width: 50%;
            padding: 0 10px;
        }
        & img {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
        }
        &:before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            border-radius: 10px;
            background: linear-gradient(180.00deg, rgba(131, 128, 128, 0) 2.86%,rgba(0, 0, 0, 0.7) 107.945%),rgb(194, 194, 194, 0.2);
        }
        &-desc {
            position: absolute;
            left: 244px;
            top: 240px;
            z-index: 2;
        }
        &-destination {
            color: rgb(255, 255, 255);
            font-size: 20px;
            font-weight: 400;
            line-height: 160%;
            text-align: right;
        }
        &-name {
            color: rgb(255, 255, 255);
            font-size: 32px;
            font-weight: 700;
            line-height: 160%;
            text-align: right;
        }
        &-property {
            color: rgb(255, 255, 255);
            font-size: 36px;
            font-weight: 400;
            line-height: 160%;
            text-align: right;
        }
    }

    &__slide {
        position: relative;
        height: 416px;
        border-radius: 10px;
        

        &-container {
        
            padding: 0 10px;
        }
        & img {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
            
        }
        &:before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            border-radius: 10px;
            background: linear-gradient(180.00deg, rgba(131, 128, 128, 0) 2.86%,rgba(0, 0, 0, 0.7) 107.945%),rgb(194, 194, 194, 0.2);
        }
        &-desc {
            position: absolute;
            left: 20px;
            top: 288px;
            z-index: 2;
            width: 90%;
        }
        &-destination {
            color: rgb(255, 255, 255);
            font-size: 20px;
            font-weight: 400;
            line-height: 160%;
            text-align: right;
   
        }
        &-name {
            color: rgb(255, 255, 255);
            font-size: 32px;
            font-weight: 700;
            line-height: 160%;
            text-align: right;
        }
        &-property {
            color: rgb(255, 255, 255);
            font-size: 36px;
            font-weight: 400;
            line-height: 160%;
            text-align: right;
            margin-bottom: 24px;
        }
    }
    &__icons {
        justify-content: space-between;
    }
    &__options {
        &-icon + &-icon {
            margin-right: 12px;
        }
    }
    &__options-icon {
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        & img {
            max-width: 100%;
        }
    }
    &__stars-icon {
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        & img {
            max-width: 100%;
        }
    }

}

.articles {
    padding: 40px 0 50px;
    &__row {
        margin: 0 -10px;
        margin-bottom: 24px;
    }
    &__title {
        margin: 0 auto;
        color: rgb(5, 135, 214);
        font-size: 48px;
        font-weight: 700;
        line-height: 140%;
        text-transform: uppercase;
        border-bottom: 1px dashed;
        max-width: 200px;
        margin-bottom: 40px;
    }
    &__image {
        position: relative;
        height: 440px;
        border-radius: 10px;
        &-container {
            width: 50%;
            padding: 0 10px;
        }
        & img {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
        }
        &:before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            border-radius: 10px;
            background: linear-gradient(180.00deg, rgba(131, 128, 128, 0) 2.86%,rgba(0, 0, 0, 0.7) 107.945%),rgb(194, 194, 194, 0.2);
        }
        &-desc {
            // position: absolute;
            left: 244px;
            top: 240px;
            z-index: 2;
        }
        &-destination {
            color: rgb(255, 255, 255);
            font-size: 20px;
            font-weight: 400;
            line-height: 160%;
            text-align: right;
        }
        &-name {
            color: rgb(255, 255, 255);
            font-size: 32px;
            font-weight: 700;
            line-height: 160%;
            text-align: right;
        }
        &-property {
            color: rgb(255, 255, 255);
            font-size: 36px;
            font-weight: 400;
            line-height: 160%;
            text-align: right;
        }
    }

    &__slide {
        position: relative;
        height: 297px;
        border-radius: 10px;
        &-container {
        
            padding: 0 10px;
        }
        & img {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
        }
        &:before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            border-radius: 10px;
            background: linear-gradient(180.00deg, rgba(131, 128, 128, 0) 2.86%,rgba(0, 0, 0, 0.7) 107.945%),rgb(194, 194, 194, 0.2);
        }
        &-desc {
            max-width: 350px;
            padding: 24px 20px 0 20px;
        }
        &-title {
            color: rgb(5, 135, 214);
            font-size: 32px;
            font-weight: 700;
            line-height: 120%;
            text-align: right;
            margin-bottom: 15px;
        }
        &-subtitle {
            color: rgb(68, 68, 68);
            font-size: 20px;
            font-weight: 400;
            line-height: 140%;
            text-align: right;
        }
        &-property {
            color: rgb(255, 255, 255);
            font-size: 36px;
            font-weight: 400;
            line-height: 160%;
            text-align: right;
        }
    }
    
}

.regions {
    padding: 40px 0;
    &__row {
        margin: 0 -10px;
        margin-bottom: 24px;
    }
    &__title {
        margin: 0 auto;
        color: rgb(5, 135, 214);
        font-size: 48px;
        font-weight: 700;
        line-height: 140%;
        text-transform: uppercase;
        border-bottom: 1px dashed;
        max-width: 280px;
        margin-bottom: 40px;
    }
    &__slide {
        position: relative;
        height: 182px;
        border-radius: 10px;
        &-container {
            width: 100%;
            padding: 0 10px;
        }
        & img {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 10px;          
        }
        &:before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            border-radius: 10px;
            background: linear-gradient(180.00deg, rgba(131, 128, 128, 0) 2.86%,rgba(0, 0, 0, 0.7) 107.945%),rgb(194, 194, 194, 0.2);
        }
        &-desc {
            position: absolute;
            left: 20px;
            top: 134px;
            z-index: 2;
            width: 85%;
        }
        &-title {
            color: rgb(255, 255, 255);
            font-family: Rubik;
            font-size: 24px;
            font-weight: 700;
            line-height: 120%;
            letter-spacing: 0%;
            text-align: right; 
        }
    }
}

.companies {
    padding: 35px 0 35px 0;
    &__row {
        margin: 0 -10px;

    }
    &__item {
        width: 25%;
        padding: 0 10px;
        &-container {
            padding-bottom: 3px;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-sizing: border-box;
            border: 1px solid rgb(220, 219, 219);
            border-radius: 10px;

        }
        &-image {
            flex-direction: row-reverse;
            height: 110px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 12px;
            & img {
                max-width: 100%;
            }
            
        }
        &-desc {
            color: rgb(141, 148, 155);
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 120%;
            text-align: left;
            max-width: 187px;
        }
    }

}


















/* ----- F O O T E R ----- */

.footer {
    
    &__icon {
        height: 23px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        & img {
            max-width: 100%;
        }
    }
    &__top {
        padding-top: 20px;
        // justify-content: space-between;
        &-line {
            background: rgb(220, 219, 219);
            width: 100%;
            height: 1px;
            margin-bottom: 29px;
        }
        &-inner {
            display: flex;
            border-bottom: 1px solid rgb(220, 219, 219);
        }
        
        &-logo {
            &__desc {
                width: 66px;
            }
        }
        &-container {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        &-content {
            width: 69.5%;
            display: flex;
            flex-direction: column;
            padding-left: 130px;
            &__row {
                justify-content: space-between;
            }
            &__link {
                display: flex;
                align-items: center;
                color: rgb(68, 68, 68);                
            }
            &__desc {
                display: flex;
                margin: 19px auto;
                max-width: 430px;
                text-align: center;
            }
            &__number {
                border-bottom: 1px dashed rgb(68, 68, 68);
                box-sizing: border-box;
                color: rgb(68, 68, 68);
                font-size: 18px;
                font-weight: 500;
                line-height: 160%;
            }
        }
    }
    &__menu {
        & .title--link {
            color: rgb(68, 68, 68);
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            text-transform: uppercase;
        }
        &-item__subtitle {
            margin-top: 12px;
        }
        & .subtitle--link {
            color: rgb(5, 135, 214);
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            text-transform: uppercase;
        }
        &-list {
            justify-content: space-between;
            padding: 15px 58px 54px 58px;
        }
    }
    &__bottom {
        background: rgb(0, 68, 149);
        padding-top: 22px;
        padding-bottom: 22px;
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        // margin-bottom: 192px;
    }
}

// html,
// body {
//   position: relative;
//   height: 100%;
// }

// body {
//   background: #eee;
//   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
//   font-size: 14px;
//   color: #000;
//   margin: 0;
//   padding: 0;
// }

